<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="OvMainDb" connectionString="Data Source=DESKTOP-O2K81VH;Initial Catalog=OV_MainDb;Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<add key="AesKey" value="-KaPdRgUkXp2s5v8y/B?E(H+MbQeThVm"/>
	</appSettings>
</configuration>